<div class="ui padded grid">
<div class="row">
    <div class="column">
        <div class="ui segment">
            <div class="ui form" ng-submit="vm.editAccount()" ng-method="post">
                <h4 class="ui dividing header">账户详细信息</h4>
                <label>密码</label>
                <div class="field">
                    <input type="password" name="password" ng-model="vm.password">
                </div>
                <label>邮箱</label>
                <div class="field">
                    <input type="text" name="email" ng-model="vm.email">
                </div>
                <label>角色</label>
                <div class="field">
                    <selectize options="vm.roleOptions" ng-model="vm.userRoles" config="vm.roleConfig"></selectize>
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui green submit button">更新账户信息</div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
$(function(){
    $('.ui.form')
        .form({
            onSuccess: function() {
                vm.editAccount();
            },
            email: {
                identifier : 'email',
                rules: [
                {
                    type   : 'empty',
                    prompt : 'Please enter a email'
                }
                ]
            },
            password: {
                identifier : 'password',
                rules: [
                {
                    type   : 'empty',
                    prompt : 'Please enter a password'
                }
                ]
            },
        });

    $('.ui.checkbox').checkbox();
});
</script>
