<div id="remove-modal" class="ui small modal transition">
<i class="close icon"></i>
<div class="header">
    删除书籍: {{ vm.selectedMyBook.bookname }}
</div>
<div class="content">
    <p>你确认要删除书籍?</p>
</div>
<div class="actions">
    <div class="ui negative button">
        不，取消
    </div>
    <div ng-click="vm.removeMyBook()" class="ui positive right labeled icon button">
        是的，确认
        <i class="checkmark icon"></i>
    </div>
</div>
</div>

<div id="return-modal" class="ui small modal transition">
<i class="close icon"></i>
<div class="header">
    归还书籍: {{ vm.selectedMyBook.bookname }}
</div>
<div class="content">
    <p>你确认要归还书籍?</p>
</div>
<div class="actions">
    <div class="ui negative button">
        不，取消
    </div>
    <div ng-click="vm.returnMyBook()" class="ui positive right labeled icon button">
        是的，确认
        <i class="checkmark icon"></i>
    </div>
</div>
</div>

<div id="borrow-modal" class="ui small modal transition">
<i class="close icon"></i>
<div class="header">
    借阅书籍: {{ vm.selectedMyBook.bookname }}
</div>
<div class="content">
    <p>你确认要借阅书籍?</p>
</div>
<div class="actions">
    <div class="ui negative button">
        不，取消
    </div>
    <div ng-click="vm.borrowMyBook()" class="ui positive right labeled icon button">
        是的，确认
        <i class="checkmark icon"></i>
    </div>
</div>
</div>

<div class="ui padded grid">
    <div class="two column row">
        <div class="left floated column">
            <div ng-click="vm.refresh()" class="ui small blue labeled icon button">
                <i class="refresh icon"></i> 刷新
            </div>
        </div>
        <div class="right aligned right floated column">
            <div class="ui small icon input">
                <input ng-model="tableFilter" placeholder="查询书籍信息..." reset-field/>
            </div>
        </div>
    </div>

    <div class="row" ng-show="vm.mybooks.length === 0">
        <div class="column">
            <div class="ui icon message">
                <i class="info icon"></i>
                <div class="content">
                    <div class="header">
                        书籍信息
                    </div>
                    <p>没有查询到书籍资料.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="filteredMyBooks.length>0">
        <div class="column">
            <table class="ui sortable celled table" ng-show="vm.mybooks">
                <thead>
                    <tr>
                        <th>书名</th>
                        <th>作者</th>
                        <th>简介</th>
                        <th>状态</th>
                        <th>借阅人</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="a in filteredMyBooks = (vm.mybooks | filter:tableFilter)">
                        <td>{{a.bookname}}</td>
                        <td>{{a.bookauthor}}</td>
                        <td>{{a.bookdesc}}</td>
                        <td class="collapsing">
                            <div ng-if="a.bookstatus == 'available'" class="ui horizontal label green">
                                可借阅
                            </div>
                            <div ng-if="a.bookstatus == 'lended'" class="ui horizontal label gray">
                                已出借
                            </div>
                        </td>
                        <td class="collapsing">
                            <div ng-if="a.bookower.length>0" class="ui horizontal label gray">
                                {{a.bookower[0]}}
                            </div>
                        </td>
                        <td class="collapsing">
                            <div ng-if="vm.userrole == 'admin'" ui-sref="dashboard.editMyBook({bookname: a.bookname})" class="compact ui icon button green">
                                <i class="edit icon"></i>
                            </div>
                            <div ng-if="a.bookstatus == 'available'" ng-click="vm.showBorrowMyBookDialog(a)" class="compact ui icon button green">
                                <i class="unlock icon"></i>
                            </div>
                            <div ng-if="a.bookstatus == 'lended'" ng-click="vm.showReturnMyBookDialog(a)" class="compact ui icon button yellow">
                                <i class="lock icon"></i>
                            </div>
                            <div ng-if="vm.userrole == 'admin'" ng-click="vm.showRemoveMyBookDialog(a)" class="compact ui icon button red">
                                <i class="trash icon"></i>
                            </div>
                        </td>
			</div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" ng-show="vm.mybooks.length > 0 && filteredMyBooks.length === 0">
        <div class="column">
            <div class="ui icon message">
                <i class="info icon"></i>
                <div class="content">
                    <div class="header">
                        书籍信息
                    </div>
                    <p>没有查询到您想要的书籍信息</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$('.ui.dropdown').dropdown();
</script>
<script>
$('.ui.sortable.celled.table').tablesort();
</script>

